.pth {
  transition: hover .1s ease, stroke-width .5s ease-out, stroke .5s ease-out;
  opacity: 0.5;
}

.pth:hover {
  stroke: #ff8a8a !important;
  stroke-width: 5 !important;
  transition: 0.1s;
  opacity: 1;
}

.pth:active {
  stroke: #ff8a8a !important;
  stroke-width: 5 !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  opacity: .4;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 80vh;
  margin: 10vh 0;
  overflow-x: hidden;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 0 auto;
  overflow-y: auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
  background-color: rgb(192, 192, 192);
  color: rgb(36, 36, 36);
  cursor: pointer;
  border: none;
}

.modal-close-button:hover {
  background-color: #4c98bb;
  color: rgb(255, 255, 255);
}

button {
  border: none;
  border-radius: 2px;
}